
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-image: url('../css/imagenes/BackGround10.png'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* This will make the background fixed during scroll */
    min-height: 100vh; /* This makes sure your background image covers the full height of the page */
}

.index, .index2 {
    background-color: rgba(36, 34, 34, 0.9); /* Use RGBA for transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: sticky; /* Sticky position for the nav */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure the navbar is above other items */
}

/* Stylish title */
h1.title {
    font-family: "Rowdies", sans-serif; /* This applies the font family */
    font-weight: 100; /* This will make it bold */
    font-size: 7rem; /* Adjust size as needed */
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Shadow for depth */
    position: absolute;
    top: 10%; /* Position the title lower or higher as per your preference */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #fff; /* White color for the text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    font-size: 7rem; /* Large font size for the title */
    z-index: 10;
}

.main-image {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: if you want rounded corners */
    display: block; /* Remove any extra space below the image */
}


.text_Resumen {
    background-color: rgba(36, 34, 34, 0.85); /* A bit more opaque than before */
    color: #ffffff;
    font-size: 1.50rem; /* Larger text */
    line-height: 1.5;
    border-radius: 5px;
    padding: 2rem;
    width: 60%;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}


.index a, .index2 a {
    /* Styles for a tags in both index and index2 */
    margin: 0 15px; /* Adjust as needed */
    font-family: 'Rowdies', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s; /* Smoother transitions for hover and focus */
}

.index a:hover, .index2 a:hover {
    color: #f8f8f2; /* Light color for hover */
    background-color: rgba(35, 67, 77, 0.5); /* Transparent background on hover */
    text-decoration: none; /* No underline on hover */
    padding: 0.5rem 1rem; /* Padding for a 'button-like' feel */
    border-radius: 5px; /* Rounded corners on hover */
}

/* Use this if you want to make the "Home" link stand out as the active page */
.index a[href="./"]:not(:hover) {
    color: #fff;
    background-color: #ff4500; /* A bright color to indicate active page */
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

/* Add media queries for responsive adjustments */
@media (max-width: 768px) {
    h1.title {
        top: 10%; /* Move the title up on smaller screens */
    }
    .text_Resumen {
        max-width: 95%; /* Allow the summary to be a bit wider on smaller screens */
        padding: 1rem; /* Less padding on smaller screens */
    }

    .index a, .index2 a {
        margin: 0 10px; /* Less margin on smaller screens */
    }
}

